
.action {
  padding-top: 30px;
}

.action button {
  padding: 5px 40px;
  margin-right: 25px;
  background-color: #555;
  border: 2px solid #777;
  color: #fff;
}

.action button:hover{
  cursor: pointer;
  background-color: #666;
}
